
<div class="swiper home-swiper">
    <div class="swiper-wrapper">
        <!-- HOME SWIPER 1 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="~/Content/img/cart-1.jpeg" alt="" class="home__img" />
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">"Airport"</h4>
                        <span class="home__details-subtitle">Arthur Hailey</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">#1 TRENDING NOW</h3>
                    <h1 class="home__title">
                        Join <br />
                        the Trend, <br />
                        Grab Yours!!
                    </h1>
                    <p class="home__description">
                        This is a fictional story - fast paced, exciting, richly
                        textured with memorable characters. Yet we think you will
                        find it more than a story. It is about your airport too. Yet
                        those with inside knowledge - like Mel Bakersfield, the
                        airports career-jinxed general manager - are aware of grave
                        deficiencies.
                    </p>

                    <div class="home__buttons">
                        <a href="details.html" class="button">Buy Now</a>
                        <a href="details.html" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- HOME SWIPER 2 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="img/cart-2.jpg" alt="" class="home__img" />
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">"The Hunger Games"</h4>
                        <span class="home__details-subtitle">Suzanne Collins</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">#2 TRENDING NOW</h3>
                    <h1 class="home__title">
                        Join <br />
                        the Trend, <br />
                        Grab Yours!!
                    </h1>
                    <p class="home__description">
                        The first novel in the worldwide bestselling series by
                        Suzanne Collins! Winning means fame and fortune. Losing
                        means certain death. The Hunger Games have begun. . . . In
                        the ruins of a place once known as North America lies the
                        nation of Panem, a shining Capitol surrounded by twelve
                        outlying districts.
                    </p>

                    <div class="home__buttons">
                        <a href="details.html" class="button">Buy Now</a>
                        <a href="details.html" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- HOME SWIPER 3 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="img/cart-3.jpg" alt="" class="home__img" />
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">"The Handmaid's Tale"</h4>
                        <span class="home__details-subtitle">Margaret Awood</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">#3 TRENDING NOW</h3>
                    <h1 class="home__title">
                        Join <br />
                        the Trend, <br />
                        Grab Yours!!
                    </h1>
                    <p class="home__description">
                        #1 NEW YORK TIMES BESTSELLER • An instant classic and eerily
                        prescient cultural phenomenon, from “the patron saint of
                        feminist dystopian fiction” (The New York Times). Now an
                        award-winning Hulu series starring Elizabeth Moss. Look for
                        The Testaments, the bestselling, award-winning the sequel to
                        The Handmaid's Tale
                    </p>

                    <div class="home__buttons">
                        <a href="details.html" class="button">Buy Now</a>
                        <a href="details.html" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- HOME SWIPER 2 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="img/cart-2.jpg" alt="" class="home__img" />
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">"The Hunger Games"</h4>
                        <span class="home__details-subtitle">Suzanne Collins</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">#2 TRENDING NOW</h3>
                    <h1 class="home__title">
                        Join <br />
                        the Trend, <br />
                        Grab Yours!!
                    </h1>
                    <p class="home__description">
                        The first novel in the worldwide bestselling series by
                        Suzanne Collins! Winning means fame and fortune. Losing
                        means certain death. The Hunger Games have begun. . . . In
                        the ruins of a place once known as North America lies the
                        nation of Panem, a shining Capitol surrounded by twelve
                        outlying districts.
                    </p>

                    <div class="home__buttons">
                        <a href="details.html" class="button">Buy Now</a>
                        <a href="details.html" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- HOME SWIPER 1 -->
        <section class="swiper-slide">
            <div class="home__content grid">
                <div class="home__group">
                    <img src="img/cart-1.jpeg" alt="" class="home__img" />
                    <div class="home__indicator"></div>

                    <div class="home__details-img">
                        <h4 class="home__details-title">"Airport"</h4>
                        <span class="home__details-subtitle">Arthur Hailey</span>
                    </div>
                </div>

                <div class="home__data">
                    <h3 class="home__subtitle">#1 TRENDING NOW</h3>
                    <h1 class="home__title">
                        Join <br />
                        the Trend, <br />
                        Grab Yours!!
                    </h1>
                    <p class="home__description">
                        This is a fictional story - fast paced, exciting, richly
                        textured with memorable characters. Yet we think you will
                        find it more than a story. It is about your airport too. Yet
                        those with inside knowledge - like Mel Bakersfield, the
                        airports career-jinxed general manager - are aware of grave
                        deficiencies.
                    </p>

                    <div class="home__buttons">
                        <a href="details.html" class="button">Buy Now</a>
                        <a href="details.html" class="button--link button--flex">
                            View Details
                            <i class="bx bx-right-arrow-alt button__icon"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="swiper-pagination"></div>
</div>
